body {
  background-color: white;
}

hr {
  background-color: green;
  border: none;
  height: 5px;
  margin-top: 50px;
}
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

.topnav {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.topnav a {
  float: left;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
  color: black;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

h1,
h2,
p {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 1000px;
  width: 100%;
  border: 3px solid green;
  padding: 20px;
  /* max-width - ((padding + border) * 2) */
}
#work img {
  max-width: 498px;
  max-width: calc(498px - ((20px + 3px) * 2));
}
#work img.first-image {
  /* max-width: 1000px; */
  max-width: calc(1000px - ((20px + 3px) * 2));
}

.work-photos {
  text-align: center;
}

section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 20px;
}

.self-portrait {
  border: 3px solid green;
  padding: 20px;
  max-width: calc(1000px - ((20px + 3px) * 2));
}
