body {
  background-color: white;
}

hr {
  background-color: green;
  border: none;
  height: 5px;
  margin-top: 50px;
}
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

.topnav {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.topnav a {
  float: left;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a:hover {
  color: black;
}

.topnav a.active {
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

h1,
h2,
p {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 700px;
  width: 100%;
}
#work img {
  max-width: 500px;
}
#work img.first-image {
  max-width: 1000px;
}

.work-photos {
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
}
